{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}
{%block content %}
 <h1>Top Rated Products</h1>
 <div class="container">
      <div class="row">
{% for item in items %}
     <div class="col-lg-4">
                <div class="product-card">
                   <h1>{{ item.title }}</h1>
                    <p>Price: {{ item.price }}</p>
                    <p>Rating: {{ item.rating }}</p>
                    <p>Number of reviewes: {{ item.reviews }}</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                    <img src="{{ item.image_link }}" alt="Item Image">
                </div>
     </div>
{% endfor %}
      </div>
 </div>
{% endblock %}

